.choices{
    width: 200px;
    margin: 10px;
    display:flex;
    justify-content: space-between;
}
.column{
    padding: 5px;
    /*background: black;*/
    height: 50px;
    width: 50px;
}
img{
    max-height: 50px;
    max-width: 50px;
}
.credit{
    font-size: 8px;
}
a{
    color:rgb(204, 161, 81)
}
a:link {
    color: inherit;
    text-decoration: none;
}

a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: rgba(128, 128, 128, 0.726);
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
img:hover{
    opacity:.8;
}