body{
    background-color: #D3EBCD;
    color:#635666;
}
header{
   color: #635666;
   text-align: center;
}
#main{
    text-align: center;
}
#score{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 400px;
}
button{
    cursor: pointer;
}
#computerSign{
    font-size: 60px;
}
#playerSign{
    font-size: 60px;
}
.sign{
    font-size: 60px;
}
#choices{
    font-weight: 100;
    margin: 5px;
    display:flex;
    justify-content: space-between;
    padding-right: 0px;
}
.column{
    padding: 5px;
}

.choice{
    margin:0;
    padding:0;
    height: 70px;
    width: 70px;
    border: none;
    border-radius: 10%;
    background-color: #AEDBCE;
}
#rock{
    font-size: 60px;
    color: #635666;
}

#paper{
    font-size: 60px; 
    color: #635666;
}

#scissors{
    font-size: 60px;
    color: #635666;
}

input{
    max-height: 50px;
    max-width: 50px;
}

#credit{
    color:rgb(204, 161, 81);
    font-size: 8px;
    opacity: .5;
}

a:link {
    color: inherit;
    text-decoration: none;
}

a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: rgb(128, 128, 128);

}

a:active {
    text-decoration: none;
}
img:hover{
    opacity:.8;
}
